.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.roles {
    padding: 5px;
    margin: 10px 0;
}

.role {
    display: flex;
    gap: 5px;
    font-size: 0.9rem;
    align-items: center;
    margin-left: 10px;
    padding-left: 5px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.actions > button {
    width: 100%;
}

.role > svg {
    font-size: 1.2rem;
}
