@import url('https://ds.egg.live/egg.css');

:root {
    --background: var(--color-light-grey-1);
    --color-text: var(--color-light-egg-lead);
    
    --color-primary: var(--color-light-grey-2);
    --color-secondary: #9a8c98;
}

body {
    background-color: var(--background);
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
  
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

a {
    color: var(--color-light-egg-lead);
}

input {
    background-color: var(--color-primary);
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
} 

.only-mobile {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px
}

button.green {
    background-color: var(--color-comp-energy-green)
}

select {
    all: unset;
    
}

@media (max-width: 768px) {
    .only-mobile {
        display: block;
    }
}