@import "./eggStyles.css";

:root {
    --background: var(--color-light-grey-1);
    --color-text: var(--color-light-egg-lead);

    --color-primary: var(--color-light-grey-2);
    --color-secondary: #9a8c98;
}
#root {
    flex: 1;
}

input:required {
    border: 1px solid var(--color-secondary);
}

p {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

a {
    color: var(--color-light-egg-lead);
}

input {
    background-color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

.only-mobile {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

button.green {
    background-color: var(--color-comp-energy-green);
}

select {
    all: unset;
}

@media (max-width: 768px) {
    .only-mobile {
        display: block;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.875rem;
    }

    h6 {
        font-size: 0.75rem;
    }
}

textarea {
    background: white;
    resize: vertical;
}
