.approved {
    border: 2px solid #28a745;
}

.approved_with_comments {
    border: 2px solid #17a2b8;
}

.re_sent {
    border: 2px solid #0078bb;
}

.pending {
    border: 2px solid #ffc107;
}

.rejected {
    border: 2px solid #dc3545;
}
